# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# Cancel in-progress runs for the same workflow and branch/PR
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  checks: write  # For test result publishing
  pull-requests: write  # For commenting on PRs
  id-token: write # For Codecov

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    timeout-minutes: 30
    environment: 'BY WMS 2020.1.1 QA'
    env:
      DOTNET_INSTALL_DIR: "./.dotnet"
      CF_PROXY_PORT: 4600

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - uses: Voodoo262/cloudflare-access-proxy@363aef0df51ac8d863f821b9bbc052ad0fdd41e5 # v1.0.0
      with:
        cf-access-client-id: ${{ secrets.CF_ACCESS_CLIENT_ID }}
        cf-access-client-secret: ${{ secrets.CF_ACCESS_CLIENT_SECRET }}
        target-url: ${{ secrets.CF_ACCESS_TARGET_URL }}
        listen-port: ${{ env.CF_PROXY_PORT }}
    
    - name: Setup .NET
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      working-directory: ./src
      run: ../.dotnet/dotnet restore
      
    - name: Build
      working-directory: ./src
      run: ../.dotnet/dotnet build --no-restore
      
    - name: Test
      working-directory: ./src
      env:
        MOCA_URL: 'http://localhost:${{ env.CF_PROXY_PORT }}/service'
        MOCA_HOST: ${{ vars.MOCA_HOST }} # Not used yet
        MOCA_PORT: ${{ vars.MOCA_PORT }} # Not used yet
        MOCA_USER: ${{ secrets.MOCA_USER }}
        MOCA_PASS: ${{ secrets.MOCA_PASS }}
      run: ../.dotnet/dotnet test --no-build --verbosity normal --collect:"XPlat Code Coverage" --logger:trx

    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      if: (!cancelled())
      with:
        name: test-results
        path: "**/TestResults/*.trx"

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      if: (!cancelled())
      with:
        use_oidc: true
        slug: labelzoom/labelzoom-moca-client-dotnet
        fail_ci_if_error: false
