name: Publish NuGet Package

permissions:
  contents: read

on:
  release:
    types: [created]

jobs:
  publish:
    name: Build and Publish Package
    runs-on: ubuntu-latest
    timeout-minutes: 30
    environment: 'BY WMS 2020.1.1 QA'
    env:
      DOTNET_INSTALL_DIR: "./.dotnet"
      CF_PROXY_PORT: 4600

    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - uses: Voodoo262/cloudflare-access-proxy@363aef0df51ac8d863f821b9bbc052ad0fdd41e5 # v1.0.0
      with:
        cf-access-client-id: ${{ secrets.CF_ACCESS_CLIENT_ID }}
        cf-access-client-secret: ${{ secrets.CF_ACCESS_CLIENT_SECRET }}
        target-url: ${{ secrets.CF_ACCESS_TARGET_URL }}
        listen-port: ${{ env.CF_PROXY_PORT }}

    - name: Setup .NET
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      working-directory: ./src
      run: ../.dotnet/dotnet restore

    - name: Build
      working-directory: ./src
      run: ../.dotnet/dotnet build --no-restore --configuration Release

    - name: Test
      working-directory: ./src
      env:
        MOCA_URL: 'http://localhost:${{ env.CF_PROXY_PORT }}/service'
        MOCA_HOST: ${{ vars.MOCA_HOST }} # Not used yet
        MOCA_PORT: ${{ vars.MOCA_PORT }} # Not used yet
        MOCA_USER: ${{ secrets.MOCA_USER }}
        MOCA_PASS: ${{ secrets.MOCA_PASS }}
      run: ../.dotnet/dotnet test --no-build --configuration Release

    - name: Pack
      working-directory: ./src
      run: ../.dotnet/dotnet pack --no-build --output nupkg --configuration Release

    - name: Publish
      working-directory: ./src
      run: ../.dotnet/dotnet nuget push "nupkg/*.nupkg" --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }}
